# Environment variables
.env
.vscode

# Data directory
data/

# Python cache
__pycache__/
*.pyc
*.pyo

/test_images
/Stator_Trk_Monitoring/Template_images/
/Stator_Trk_Monitoring/NG_images/
/Stator_Trk_Monitoring/Log/
lambda/log_manager/function.zip
response.json
service_manager/service_manager.log
service_manager/service_manager.log
service_manager/service_manager_config.json
Stator_Trk_Monitoring/vision_detection.py
