# Environment variables
.env

# Data directory
data/

# Python cache
__pycache__/
*.pyc
*.pyo

/test_images
/Stator_Trk_Monitoring/Ref_Images/
/Stator_Trk_Monitoring/Target_images/
lambda/log_manager/function.zip
response.json
